@page "/product"



<PageTitle>ProductList</PageTitle>


<FluentHeader Style="background-color:none">
    <h3>Products</h3>
    <FluentSpacer />
    <FluentButton OnClick="@(() => GetLink())" Appearance="Appearance.Accent">New</FluentButton>
</FluentHeader>


@if (IsLoading == true)
{
    <div style="width: 300px; display: grid; grid-gap: 12px; grid-auto-flow: column;">
        <FluentProgress></FluentProgress>
    </div>
}
@if (products != null)
{
    <Stock.Pages.Component.NameFilter OnFilter="FilterNames" />

    <FluentDataGrid Items="@products" ResizableColumns=true GridTemplateColumns="0.5fr 0.4fr 0.4fr 0.6fr 0.3fr"
                    style="height: 580px;overflow:auto;">

        <PropertyColumn Property="@(c => c.ProductName)" Title="Product Name" Align="Align.Start" Sortable="true" />
        <PropertyColumn Property="@(c => c.Category)" Title="Category" Align="Align.Start" Sortable="true" />
        <PropertyColumn Property="@(c => c.SKU)" Title="SKU" Align="Align.Start" Sortable="true" />
        <PropertyColumn Property="@(c => c.ProductDescription)" Title="Keterangan" Align="Align.Start" />


        <TemplateColumn Title="Actions">
            <FluentButton IconStart="@(new Icons.Regular.Size20.Edit())" BackgroundColor="var(--highlight-bg)" Color="var(--error)" Appearance="Appearance.Filled" Title="Edit" OnClick="@(() => Edit(context.ProductId))" />
            <FluentButton IconStart="@(new Icons.Regular.Size20.Delete())" Appearance="Appearance.Filled" BackgroundColor="#ff531a" Color="var(--danger)" Title="Hapus" OnClick="@(() => Delete(context.ProductId,context.SKU))" />
        </TemplateColumn>

    </FluentDataGrid>
}

@code {
    private bool IsLoading { get; set; } = false;
    IQueryable<ProductDto>? products;
    IQueryable<ProductDto>? productInits;

    bool? canceled;
    JustifyContent Justification = JustifyContent.FlexStart;

    private void FilterNames(string filter)
    {
        products = productInits.Where(p => p.ProductName.ToLower().Contains(filter.ToLower()));
        StateHasChanged();
    }
    private void GetLink()
    {
        _navman.NavigateTo("/productCreate");
    }
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        await Loading();
    }
    private async Task Loading()
    {
        IsLoading = true;
        //  await Task.Delay(200);
        productInits = (await _productServices.GetProductListAsycn()).AsQueryable();
        products = productInits;
        IsLoading = false;
    }

    private async void Edit(int Id)
    {
        _navman.NavigateTo($"productUpdate/{Id}");
    }

    private async void Delete(int Id, string sku)
    {
        try
        {
            var dialog = await _dialogService.ShowConfirmationAsync("Are you sure you want to Delete?", "Ok", "No", "Delete Data");
            var dlgresult = await dialog.Result;

            canceled = dlgresult.Cancelled;

            if (canceled == null || (canceled == true))
            {
                _dialogService.ShowInfo("Delete cancelled", "Delete");
                return;
            }

            IsLoading = true;
            await Task.Delay(200);
            ServiceResponseDTO<bool> result = new();
            result = await _productServices.DeleteAsync(Id, sku);

            IsLoading = false;

            if (result.Success == true)
            {
                _dialogService.ShowInfo(result.Message, "Delete");
            }
            else
            {
                _dialogService.ShowWarning(result.Message, "Delete");
            }
            result = new();
            await Loading();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            string msg = ex.Message;
            IsLoading = false;
            return;
        }

    }
}
