<FluentNavMenuLink Icon="@(new Icons.Regular.Size20.Home())" Href="/">
    <h6>Home</h6>
</FluentNavMenuLink>

<FluentNavMenuGroup InitiallyExpanded>
    <h6>Master Data</h6>
    <FluentNavMenuLink Href="./unit" Icon="@(new Icons.Regular.Size20.AppsList())" Text="Unit" />
    <FluentNavMenuLink Href="./Category" Icon="@(new Icons.Regular.Size20.GroupList())" Text="Category" />
    <FluentNavMenuLink Href="./store" Icon="@(new Icons.Regular.Size20.AppsListDetail())" Text="Location" />
    <FluentNavMenuLink Href="./product" Icon="@(new Icons.Regular.Size20.AppsListDetail())" Text="Product" />
</FluentNavMenuGroup>

<FluentNavMenuGroup InitiallyExpanded>
    <h6>Transaksi</h6>
    <FluentNavMenuLink Href="./receivedStock" Icon="@(new Icons.Regular.Size20.AppsListDetail())" Text="Received Stock" />
    <FluentNavMenuLink Href="./initialStock" Icon="@(new Icons.Regular.Size20.AppsListDetail())" Text="Initial Stock" />
</FluentNavMenuGroup>

