<FluentNavMenuLink Icon="@(new Icons.Regular.Size20.Home())" Href="/">
    <h6>Home</h6>
   
</FluentNavMenuLink> 
<AuthorizeView>
    <Authorized>
        <FluentNavMenuGroup InitiallyExpanded=false>
            <h6>Identity</h6>
            <FluentNavMenuLink Href="./register" Icon="@(new Icons.Regular.Size20.PersonAdd())" Text="Register" />
            <FluentNavMenuLink Href="./changepassword" Icon="@(new Icons.Regular.Size20.Password())" Text="Change Password" />
        </FluentNavMenuGroup>

        <FluentNavMenuGroup InitiallyExpanded=false>
            <h6>Master Data</h6>
            <FluentNavMenuLink Href="./contact" Icon="@(new Icons.Regular.Size20.ContactCard())" Text="Contact" />
            <FluentNavMenuLink Href="./unit" Icon="@(new Icons.Regular.Size20.ScaleFit())" Text="Unit" />
            <FluentNavMenuLink Href="./Category" Icon="@(new Icons.Regular.Size20.GroupList())" Text="Category" />
            <FluentNavMenuLink Href="./store" Icon="@(new Icons.Regular.Size20.Location())" Text="Location" />
            <FluentNavMenuLink Href="./product" Icon="@(new Icons.Regular.Size20.Production())" Text="Product" />
        </FluentNavMenuGroup>

        <FluentNavMenuGroup InitiallyExpanded=true>
            <h6>Transaksi</h6>
            <FluentNavMenuLink Href="./initialStock" Icon="@(new Icons.Regular.Size20.StarArrowRightStart())" Text="Initial Stock" />
            <FluentNavMenuLink Href="./purchases" Icon="@(new Icons.Regular.Size20.AddSquare())" Text="Purchases" />
            <FluentNavMenuLink Href="./sales" Icon="@(new Icons.Regular.Size20.SubtractSquare())" Text="Sales" />
            <FluentNavMenuLink Href="./stockAdjustment" Icon="@(new Icons.Regular.Size20.AddSubtractCircle())" Text="Stock Adjustment" />
            <FluentNavMenuLink Href="./stockTransfer" Icon="@(new Icons.Regular.Size20.TrayItemRemove())" Text="Stock Transfer" />
        </FluentNavMenuGroup>

        <FluentNavMenuGroup InitiallyExpanded=false>
            <h6>Learning</h6>
            <FluentNavMenuLink Href="./selectCombo" Icon="@(new Icons.Regular.Size20.AppsListDetail())" Text="Select Combo" />
            <FluentNavMenuLink Href="./confirmation" Icon="@(new Icons.Regular.Size20.AppsListDetail())" Text="confirmation" />
            <FluentNavMenuLink Href="./filtering" Icon="@(new Icons.Regular.Size20.AppsListDetail())" Text="Filtering" />
            <FluentNavMenuLink Href="./filteringComponent" Icon="@(new Icons.Regular.Size20.AppsListDetail())" Text="Filtering Component" />
        </FluentNavMenuGroup>


    </Authorized>

</AuthorizeView>

