@page "/contact"

<PageTitle>Contact</PageTitle>



<FluentHeader Style="background-color:none">
    <h3>Contacts</h3>
    <FluentSpacer />
    <FluentButton OnClick="@(() => GetLink())" Appearance="Appearance.Accent">New</FluentButton>
</FluentHeader>

@if (IsLoading == true)
{
    <div style="width: 300px; display: grid; grid-gap: 12px; grid-auto-flow: column;">
        <FluentProgress></FluentProgress>
    </div>
}
@if (contacts != null)
{
      <Stock.Component.NameFilter OnFilter="FilterNames" />

    <FluentDataGrid Items="@contacts" ResizableColumns=true GridTemplateColumns="0.2fr 0.2fr 0.6fr 0.3fr 0.3fr"
                    style="height: 580px;overflow:auto;">

        <PropertyColumn Property="@(c => c.ContactId)" Title="Id" Align="Align.Start" Sortable="true" />
        <PropertyColumn Property="@(c => c.type)" Title="Type" Align="Align.Start" Sortable="true" />
        <PropertyColumn Property="@(c => c.Name)" Title="Name" Align="Align.Start" Sortable="true" />
        <PropertyColumn Property="@(c => c.Phone)" Title="Phone" Align="Align.Start" />
   

        <TemplateColumn Title="Actions">
            <FluentButton IconStart="@(new Icons.Regular.Size20.Edit())" BackgroundColor="var(--highlight-bg)" Color="var(--error)" Appearance="Appearance.Filled" Title="Edit" OnClick="@(() => Edit(context.ContactId))" />
            <FluentButton IconStart="@(new Icons.Regular.Size20.Delete())" Appearance="Appearance.Filled" BackgroundColor="#ff531a" Color="var(--danger)" Title="Delete" OnClick="@(() => Delete(context.ContactId))" />
        </TemplateColumn>

    </FluentDataGrid>
}
@code {
    private bool IsLoading { get; set; } = false;

    IQueryable<ContactDto>? contacts;
    IQueryable<ContactDto>? contactInits;
    bool? canceled;

    JustifyContent Justification = JustifyContent.FlexStart;

    private void FilterNames(string filter)
    {
        contacts = contactInits.Where(p => p.Name.ToLower().Contains(filter.ToLower()));
        StateHasChanged();
    }

    private void GetLink()
    {
        _navman.NavigateTo("/contactCreate");
    }
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        await Loading();
    }
    private async Task Loading()
    {
        IsLoading = true;

        contactInits = (await _contactServices.GetContactListAsycn()).AsQueryable();
        contacts = contactInits;
        IsLoading = false;
    }

    private async void Edit(int Id)
    {
        _navman.NavigateTo($"contactUpdate/{Id}");
    }

    private async void Delete(int Id)
    {
        try
        {
            var dialog = await _dialogService.ShowConfirmationAsync("Are you sure you want to Delete?", "Ok", "No", "Delete Data");
            var dlgresult = await dialog.Result;

            canceled = dlgresult.Cancelled;

            if (canceled == null || (canceled == true))
            {
                _dialogService.ShowInfo("Delete cancelled", "Delete");
                return;
            }

         

            IsLoading = true;
            // await Task.Delay(200);
            ServiceResponseDTO<bool> result = new();
            result = await _contactServices.DeleteAsync(Id);

            IsLoading = false;

            if (result.Success == true)
            {
                _dialogService.ShowInfo(result.Message, "Delete");
            }
            else
            {
                _dialogService.ShowWarning(result.Message, "Delete");
            }
            result = new();
            await Loading();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            string msg = ex.Message;
            IsLoading = false;
            return;
        }
    }
}
