@page "/storeList"

@using ServiceLayer.Model;
@using ServiceLayer.StoreServices;
@using ServiceLayer.StoreServices.Concrete;

<PageTitle>StoreList</PageTitle>

@inject StoreServices _storeServices
@inject IDialogService _dialogService

@if (IsLoading == true)
{
    <div style="width: 300px; display: grid; grid-gap: 12px; grid-auto-flow: column;">
        <FluentProgress></FluentProgress>
    </div>
}
@if (stores != null)
{
    <FluentDataGrid Items="@stores" ResizableColumns=true GridTemplateColumns="0.4fr 0.6fr 0.3fr 0.3fr"
                    style="height: 250px;overflow:auto;">

        <PropertyColumn Property="@(c => c.StoreId)" Title="Store Id" Align="Align.Start" />
        <PropertyColumn Property="@(c => c.StoreName)" Title="Lokasi" Align="Align.Start" />

        <TemplateColumn Title="Edit">
            <FluentButton Appearance="Appearance.Accent" @onclick="@(() => Edit(context.StoreId,context.StoreName))">Edit</FluentButton>
        </TemplateColumn>
        <TemplateColumn Title="Delete">
            <FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.Delete())" @onclick="@(() => Delete(context.StoreId,context.StoreName))">Delete</FluentButton>
        </TemplateColumn>
    </FluentDataGrid>
}

@code {
    private bool IsLoading { get; set; } = false;
    public IQueryable<StoreDto>? stores;

    JustifyContent Justification = JustifyContent.FlexStart;
    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        await Loading();
    }
    private async Task Loading()
    {
        IsLoading = true;
        await Task.Delay(200);
        stores = (await _storeServices.GetStoreListAsycn()).AsQueryable();
        IsLoading = false;
    }
    private async void Edit(int Id, string loc)
    {
        _navman.NavigateTo($"storeUpdate/{Id}/{loc}");
    }

    private async void Delete(int Id, string cat)
    {
        try
        {
            IsLoading = true;
            await Task.Delay(200);
            ServiceResponseDTO<bool> result = new();
            result = await _storeServices.DeleteLocationAsync(Id);
            IsLoading = false;
            if (result.Success == true)
            {
                _dialogService.ShowInfo(result.Message, "Delete");
            }
            else
            {
                _dialogService.ShowWarning(result.Message, "Delete");
            }
            result = new();
            await Loading();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            string msg = ex.Message;
            IsLoading = false;
            return;
        }

    }

}
